// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap {
  .dijitRadio {
      @extend .dbootstrap .dijitCheckBox;
      border-radius: 20px;
  }

  .dijitRadio input {
      @extend .dbootstrap .dijitCheckBox input;
  }

  .dijitRadioDisabled {
      @extend .dbootstrap .dijitCheckBoxDisabled;
  }

  .dijitRadio:before {
      @extend .dbootstrap .dijitCheckBox:before;
  }

  .dijitRadio.dijitRadioChecked:before {
      @extend .dbootstrap .dijitCheckBox.dijitCheckBoxChecked:before;
  }
}