// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap {

    // General
    .dijitSlider {
        color: $grayLight;
    }

    .dijitSliderRemainingBar {
        border: none;
        background-image: linear-gradient(center top, $backgroundColor, $backgroundHighlightColor);
        box-shadow: inset 2px 1px 2px rgba(0,0,0,.1);
    }

    .dijitSliderProgressBar {
        border: none;
        background-color: $defaultAccentColor;
        background-image: linear-gradient(center top, $defaultAccentColor, $defaultAccentColorHighlight);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    }

    .dijitSliderImageHandle {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: $white;
    }

    .dijitRuleMark {
        border-color: $grayLight;
    }

    // Horizontal
    .dijitSliderBarH {
        height: 1em;
    }

    .dijitSliderImageHandleH {
        box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
        width: 11px;
        height: 1.5em;
    }

    .dijitSliderBumperH {
        @extend .dbootstrap .dijitSliderRemainingBar;
        height: 1em;
    }

    .dijitSliderBumperH.dijitSliderRightBumper {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        margin-left: -4px; // To hide box shadow
        padding-right: (@margin-left * -1);
    }

    .dijitSliderBumperH.dijitSliderLeftBumper {
        @extend .dbootstrap .dijitSliderProgressBar;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .dijitRuleLabelsContainerH {
        padding-bottom: 5px;
    }

    // Vertical
    .dijitSliderBarV {
        width: 1em;
    }

    .dijitSliderV .dijitSliderRemainingBar {
        border: none;
        background-image: linear-gradient(center top, $backgroundColor, $backgroundHighlightColor);
        box-shadow: inset 2px -2px 2px rgba(0,0,0,.1);
    }

    .dijitSliderV .dijitSliderProgressBar {
        border: none;
        background-image: linear-gradient(left center, $defaultAccentColor, $defaultAccentColorHighlight);
        box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
    }

    .dijitSliderImageHandleV {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
        width: 1.5em;
        height: 11px;
    }

    .dijitSliderBumperV {
        @extend .dbootstrap .dijitSliderV .dijitSliderRemainingBar;
        width: 1em;
    }

    .dijitSliderBumperV.dijitSliderTopBumper {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin-bottom: -4px; // To hide box shadow
        padding-top: (@margin-bottom * -1);
    }

    .dijitSliderBumperV.dijitSliderBottomBumper {
        @extend .dbootstrap .dijitSliderV .dijitSliderProgressBar;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .dijitRuleLabelsContainerV {
        margin: 0 5px;
    }

    // Disabled
    .dijitSliderDisabled {
        opacity: 0.65;
    }
}
