// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

.dbootstrap .alert {
    background-color: $alertWarningBackground;
    border: 1px solid $alertWarningBorder;
    border-radius($borderRadiusBase);
    color: $alertWarningText;
    margin-bottom: $lineHeightBase;
    padding: $alertPadding;
    text-shadow: none;
}

.dbootstrap .alert h1,
.dbootstrap .alert h2,
.dbootstrap .alert h3,
.dbootstrap .alert h4 {
    margin: 0;
}

// Alternate styles
// -------------------------

.dbootstrap .alert-success {
    background-color: $alertSuccessBackground;
    border-color: $alertSuccessBorder;
    color: $alertSuccessText;
}

.dbootstrap .alert-danger,
.dbootstrap .alert-error {
    background-color: $alertDangerBackground;
    border-color: $alertDangerBorder;
    color: $alertDangerText;
}

.dbootstrap .alert-info {
    background-color: $alertInfoBackground;
    border-color: $alertInfoBorder;
    color: $alertInfoText;
}


// Block alerts
// -------------------------

.dbootstrap .alert-block {
    padding: $alertPadding;
}
.dbootstrap .alert-block > p,
.dbootstrap .alert-block > ul {
    margin-bottom: 0;
}
.dbootstrap .alert-block p + p {
    margin-top: 5px;
}



// Dismissable alerts
// -------------------------
// Expand the right padding and account for the close button's positioning.

.dbootstrap .alert-dismissable {
 padding-right: ($alertPadding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}
