// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// General
.dbootstrap .dijitEditor {
    border: 1px solid $navbarDefaultBorder;
}

.dbootstrap .dijitEditorDisabled {
    opacity: 0.65;
}
