// :copyright: Copyright 2012 Martin Pengelly-Phillips
// :license: See LICENSE.txt.

// Menu bar
.dbootstrap .dijitMenuBar {
    overflow: visible;
    margin-bottom: $lineHeightBase;
    color: $navbarDefaultColor;
    padding-left:  20px;
    padding-right: 20px;
    background-color: $navbarDefaultBackground;
    border: 1px solid $navbarDefaultBorder;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.dbootstrap .dijitMenuBar .dijitMenuItem {
    color: $navbarDefaultLinkColor;
    padding: (($navbarHeight - $lineHeightBase) / 2) 15px (($navbarHeight - $lineHeightBase) / 2);
    text-shadow: none;
}

.dbootstrap .dijitMenuBar .dijitMenuItemHover {
    color: $navbarDefaultLinkHoverColor;
    background-image: none;
    background-color: $navbarLinkHoverBackground;
}

.dbootstrap .dijitMenuBar .dijitMenuItemActive,
.dbootstrap .dijitMenuBar .dijitMenuItemSelected {
    color: $navbarDefaultLinkActiveColor;
    text-decoration: none;
    background-image: none;
    background-color: $navbarLinkActiveBackground;
    box-shadow: inset 0 3px 8px rgba(0,0,0,.125);
}

.dbootstrap .dijitMenuBar .dijitMenuItemDisabled {
    color: $navbarDefaultLinkColor;
    box-shadow: none;
    background-color: transparent;
}

// Brand
.dbootstrap .dijitMenuBar .brand {
    font-weight: 200;
    color: $navbarBrandColor;
    text-shadow: none;
    font-size: ($fontSizeBase * 1.5);
    padding: 10px;
    display: inline;
    vertical-align: middle;
}

// Primary menu
.dbootstrap .dijitMenuBar.primary {
    border-radius: 0px;
    margin-bottom: 5px;
}

// Menu bar inverse colour
.dbootstrap .dijitMenuBar.inverse {
    color: $navbarInverseColor;
    background-color: $navbarInverseBackground;
    border-color: $navbarInverseBorder;
}

.dbootstrap .dijitMenuBar.inverse .dijitMenuItem {
    color: $navbarInverseLinkColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.dbootstrap .dijitMenuBar.inverse .dijitMenuItemHover {
    background-color: $navbarInverseLinkHoverBackground;
    color: $navbarInverseLinkHoverColor;
}

.dbootstrap .dijitMenuBar.inverse .dijitMenuItemActive,
.dbootstrap .dijitMenuBar.inverse .dijitMenuItemSelected {
    color: $navbarInverseLinkActiveColor;
    background-color: $navbarInverseLinkActiveBackground;
    box-shadow: inset 0 3px 8px rgba(255,255,255,.125);
}

.dbootstrap .dijitMenuBar.inverse .dijitMenuItemDisabled {
    color: $navbarInverseLinkColor;
}

.dbootstrap .dijitMenuBar.inverse .brand {
    color: $navbarInverseBrandColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

// Menu
.dbootstrap .dijitMenu {
    z-index: $zindexDropdown;
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    background-color: $dropdownBackground;
    border: 1px solid #ccc; // Fallback for IE7-8
    border: 1px solid $dropdownBorder;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-collapse: separate;
}

.dbootstrap .dijitMenuItem {
    font-weight: normal;
    color: $dropdownLinkColor;
    white-space: nowrap;
    padding: 6px 20px;
}

.dbootstrap .dijitMenuItemHover {
    text-decoration: none;
    color: $dropdownLinkHoverColor;
    background-color: $dropdownLinkHoverBackground;
    background-image: linear-gradient(top, $dropdownLinkHoverBackground, darken($dropdownLinkHoverBackground, 5%));
}

.dbootstrap .dijitMenuItemSelected {
    @extend .dbootstrap .dijitMenuItemHover;
}

.dbootstrap td.dijitMenuItemLabel {
    padding: 6px 0.3em;
}

.dbootstrap tr.dijitMenuItem td:first-child {
    padding-left: 20px;
}

.dbootstrap tr.dijitMenuItem td:last-child {
    padding-right: 20px;
}

// Separator
.dbootstrap .dijitMenuSeparator {
    margin: (($lineHeightBase / 2) - 1) 1px;
}

.dbootstrap .dijitMenuSeparatorTop {
    border-bottom: 1px solid $dropdownDividerTop;
    height: auto;
}

.dbootstrap .dijitMenuSeparatorBottom {
    height: auto;
}

// Icon
.dbootstrap .dijitMenuItemIcon,
.dbootstrap .dijitMenuExpand  {
    // Keep in line with labels
    line-height: $lineHeightBase * 0.65;
}

.dbootstrap .dijitMenuArrowCell .dijitMenuExpand:before {
    @extend .dijitIcon:before;
    @extend .icon-caret-right:before;
}
